---
import Layout from "../layouts/Layout.astro";
import LogoImg from "../components/LogoImg.astro";
import ImageLink from "../components/ImageLink.astro";
import CursorDecoration from "../components/CursorDecoration.astro";
import Contact from "../components/Contact.astro";
import TranslateButton from "../components/TranslateButton.astro";

const linkImageStyles = `
		--img-size: 75px;
		border-radius: 50%;
		height: var(--img-size);
		width: var(--img-size);
		padding: var(--size-2);
`;
---

<Layout
  title="Howard Chiam"
  description="Howard's profile page - a sample of projects, certificates, and starting points to explore."
>
  <CursorDecoration />
  <main>
    <div class="logo-section">
      <LogoImg
        src="htc.png"
        alt="HC"
        width="100px"
        height="100px"
        tabindex="0"
      />
    </div>

    <h1
      class="animation"
      title="This is my name. Hi!"
      tabindex={0}
      data-translation-title="C'est mon nom. Salut !"
    >
      Howard Chiam
    </h1>

    <div class="name-section">
      <h2
        class="tagline"
        data-translation="Apprentissage. Langues. Autres choses."
      >
        Learning. Languages. Other&nbsp;stuff.
      </h2>
      <div class="tagline-details-shadow-container">
        <div id="tagline_details" class="tagline-details">
          <div id="duolingo-avatar" class="row">
            <img src="hchiam_Duolingo_avatar.svg" alt="" />
          </div>
          <p
            data-translation="Chuis développeur web front-end et nerd des langues, qui repense ce qui est possible et amusant avec des choses comme :"
          >
            I'm a Front-End web developer and language nerd rethinking what's possible and fun with things like:
          </p>
          <ul>
            <li>
              <span data-translation="l'éducation,">education,</span>
            </li>
            <li>
              <span data-translation="l'accessibilité web,"
                >web accessibility,</span
              >
              <i data-translation="et">and</i>
            </li>
            <li>
              <span data-translation="l'apprentissage automatique."
                >machine learning.</span
              >
            </li>
          </ul>
          <p
            data-translation="Je créais des jeux pour le plaisir et pour la recherche. Par example, j'ai créé deux jeux vidéo simples pour les survivants d'un AVC."
          >
            I've been making games for fun and for research. For example, I
            built a couple simple video games for stroke survivors.
          </p>
        </div>
      </div>
    </div>

    <TranslateButton />

    <section class="projects-section" id="collapsible_section_1">
      <h2 data-translation="Projets">Projects</h2>

      <div class="spaced-group">
        <div class="spaced-group-inner">
          <h3>
            <a
              href="https://github.com/GoogleChromeLabs/ProjectVisBug"
              target="_blank">VisBug</a
            > - <span data-translation="un projet GoogleChromeLabs"
              >a GoogleChromeLabs project</span
            >
          </h3>
          <div class="image-link-wrapper">
            <ImageLink
              alt="ProjectVisBug on GitHub"
              dataTranslationAlt="ProjectVisBug sur GitHub"
              href="https://github.com/GoogleChromeLabs/ProjectVisBug"
              src="visbug.png"
              width={100}
            />
          </div>
          <div>
            <h3 class="collapsible-heading" aria-expanded="false">Info</h3>
            <h4 data-translation="Pourquoi :">Why:</h4>
            <p>
              <span
                data-translation="Permettre aux concepteurs à modifier n'importe quelle page web en direct, dans n'importe quel état. Un projet expérimental d'extension Chrome dirigé par"
                >Enable designers to edit any webpage live, in any state. An
                experimental Chrome extension project led by</span
              >
              <a href="https://github.com/argyleink" target="_blank"
                >Adam Argyle</a
              >.
            </p>
            <h4 data-translation="Ce que j'ai fait :">What I did:</h4>
            <p>
              <span
                data-translation="J'ai contribué plus de 8 PR (Pull Requests), y compris"
                >I contributed over 8 PRs (Pull Requests), including</span
              >
              <a
                href="https://github.com/GoogleChromeLabs/ProjectVisBug/pull/505"
                target="_blank"
                data-translation="un PR pour mettre à jour les échantillons de couleurs pour l'accessibilité et pour permettre la copie dans le presse-papiers."
                >one PR to update the colour swatches for accessibility and
                enable copying to clipboard.</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="spaced-group">
        <div class="spaced-group-inner">
          <h3>
            <a href="https://github.com/hchiam/code-tutor" target="_blank"
              >Code Tutor</a
            > - <span data-translation="appli de l'Assistant Google"
              >a Google Assistant app</span
            >
          </h3>
          <div class="image-link-wrapper">
            <ImageLink
              alt="Code Tutor répertorié dans l'annuaire web de l'Assistant Google en 2022"
              data-translation-alt=""
              href="https://github.com/hchiam/code-tutor"
              src="code-tutor-directory-screenshot.png"
              width={300}
            />
          </div>
          <div>
            <h3 class="collapsible-heading" aria-expanded="false">Info</h3>
            <h4 data-translation="Pourquoi :">Why:</h4>
            <p>
              <span
                data-translation="Aidons les personnes qui ne peuvent pas utiliser leurs mains à apprendre à coder en parlant à l'assistant vocal de Google."
                >Let's help people who can't use their hands to learn to code by
                talking to the Google voice assistant.</span
              >
              <i
                data-translation="(Répertorié dans l'annuaire web de l'Assistant Google en 2022. Les actions conversationnelles ont pris fin en 2023.)"
                >(Listed in Google Assistant web directory in 2022.
                Conversational Actions were sunset in 2023.)</i
              >
            </p>
            <h4 data-translation="Comment :">How:</h4>
            <p>
              <a
                href="https://github.com/hchiam/code-tutor#previous-work"
                target="_blank"
                data-translation="Travaux/itérations précédents"
                >Previous work/iterations</a
              > - <span
                data-translation="J'ai expérimenté avec api.ai (maintenant appelé Dialogflow),"
                >I experimented with using api.ai (now named Dialogflow),</span
              >
              <br />
              <span
                data-translation="→ puis Mac VoiceOver et une interface web,"
                >&rarr; then Mac VoiceOver and a web interface,</span
              >
              <br />
              <span
                data-translation="→ puis les langages de programmation vocale,"
                >&rarr; then voice programming languages,</span
              >
              <br />
              <span data-translation="→ puis un mini JARVIS dans le navigateur,"
                >&rarr; then a mini JARVIS in the browser,</span
              >
              <br />
              <span
                data-translation="→ puis deux applications de l'Assistant Google."
                >&rarr; then a couple Google Assistant apps.</span
              >
            </p>
          </div>
        </div>
      </div>

      <div class="spaced-group">
        <div class="spaced-group-inner">
          <h3>
            <span data-translation="Le projet">The</span>
            <a
              href="https://github.com/hchiam/html-template-generator"
              target="_blank">html-template-generator</a
            >
            <span data-translation="">project</span>
          </h3>
          <div class="image-link-wrapper" class="image-link-wrapper">
            <ImageLink
              alt="HTML template generator demo animation"
              data-translation-alt="Animation de démo du générateur de modèles HTML"
              href="https://html-template-generator.surge.sh"
              src="template_demo.gif"
              width={300}
            />
          </div>
          <div>
            <h3 class="collapsible-heading" aria-expanded="false">Info</h3>
            <h4 data-translation="Pourquoi :">Why:</h4>
            <p
              data-translation="Générer du code de formulaires sans taper aucun code !"
            >
              Generate code for forms without typing any code!
            </p>
            <p>
              <span
                data-translation="C'est un outil expérimental pour aider à réduire le copier-coller répétitif, à côté des"
              >
                This is an experimental tool to help reduce repetitive
                copy-pasting, alongside</span
              >
              <a
                href="https://github.com/hchiam/learning-js/tree/main/bookmarklets#bookmarklets"
                target="_blank"
                data-translation="bookmarklets,">bookmarklets,</a
              >
              <span
                data-translation="pour augmenter la productivité au travail."
                >to increase productivity at work.</span
              >
            </p>
            <h4 data-translation="Comment :">How:</h4>
            <p
              data-translation="Cette interface utilisateur visuelle génère un formulaire HTML lors de choisir des modèles d'entrée, les modifier, et les exporter - tout ça dans le navigateur. Aucune installation requise."
            >
              This visual UI generates an HTML form as you choose input
              templates, edit, export - all in the browser. No install required.
            </p>
            <p
              data-translation="Je m'amusais à redécouvrir et implémenter la technique FLIP d'animation (avant les avancées récentes dans CSS)."
            >
              I had fun rediscovering and implementing the FLIP animation
              technique (before the recent advances in CSS).
            </p>
            <p>
              <span data-translation="Et oui,">And yes,</span>
              <a
                href="https://github.com/hchiam/learning-gpt4all"
                target="_blank"
                data-translation="J'ai expérimenté les prompts des LLM comme ChatGPT à générer également du code"
                >I've been experimenting with prompting LLMs like ChatGPT to
                generate code too</a
              >.
            </p>
          </div>
        </div>
      </div>

      <div class="spaced-group">
        <div class="spaced-group-inner">
          <h3>
            <span data-translation="Appli de">A streamlined</span>
            <a
              href="https://github.com/hchiam/slides"
              target="_blank"
              data-translation="diapositives">slides</a
            >
            <span data-translation="simplifiée">app</span>
          </h3>
          <div class="image-link-wrapper">
            <ImageLink
              alt="screenshot of simple slides interface"
              data-translation-alt="capture d'écran de l'interface de diapositives simples"
              href="https://github.com/hchiam/slides"
              src="simple-slides.png"
              width={300}
            />
          </div>
          <div>
            <h3 class="collapsible-heading" aria-expanded="false">Info</h3>
            <h4 data-translation="Pourquoi :">Why:</h4>
            <p>
              <span
                data-translation="Modifier, partager et présenter facilement des diapositives."
                >Easily edit, share, and present slides.</span
              >
              <a href="https://simple-slides.surge.sh" target="_blank"
                >https://simple-slides.surge.sh</a
              >
            </p>
            <h4 data-translation="Comment :">How:</h4>
            <p
              data-translation="Conçu pour et testé par une personne âgée ayant une faible confiance en connaissances numériques. Cette appli de diapositives a fini par être un tremplin pour passer à Google Slides."
            >
              Built for and tested by a senior with low digital literacy
              confidence. This slides app ended up being a stepping stone for
              them to switch to Google Slides.
            </p>
            <p
              data-translation="Le code principal a été écrit à partir de zéro en JavaScript, CSS et HTML."
            >
              The main code was written from scratch in JavaScript, CSS, and
              HTML.
            </p>
            <p
              data-translation="J'ai utilisé Firebase Firestore. J'ai mis en place des tests automatisés avec GitHub, Travis CI, Cypress, des scripts bash, husky, es-check, lighthouse, et plus."
            >
              I used Firebase Firestore. I set up automated testing with GitHub,
              Travis CI, Cypress, bash scripts, husky, es-check, lighthouse, and
              more.
            </p>
          </div>
        </div>
      </div>

      <div class="spaced-group">
        <div class="spaced-group-inner">
          <h3>
            <span data-translation="Générateur de "></span>
            <a
              href="https://github.com/hchiam/_2DNote"
              target="_blank"
              data-translation="notes 2D">2D Note</a
            >
            <span data-translation="avec Vanilla JS"
              >generator with vanilla JS</span
            >
          </h3>
          <div class="image-link-wrapper">
            <ImageLink
              alt="2D note demo"
              data-translation-alt="démo de 2D Note"
              href="https://codepen.io/hchiam/full/eYYdVeX"
              src="2d_note_demo.png"
              width={300}
            />
          </div>
          <div>
            <h3 class="collapsible-heading" aria-expanded="false">Info</h3>
            <h4 data-translation="Pourquoi :">Why:</h4>
            <p
              data-translation="Potentiel : alimenter des applications 2D que les utilisateurs peuvent utiliser ensemble, quelles que soient leurs capacités de vision ?"
            >
              Potential: power 2D apps that people can use together, regardless
              of vision capabilities?
            </p>
            <h4 data-translation="Comment :">How:</h4>
            <p>
              <span data-translation="J'ai créé mon propre">Created my own</span
              >
              <a
                href="https://github.com/hchiam/_2DNote/pkgs/npm/2dnote"
                target="_blank"
                data-translation="package npm 2dnote,">npm package 2dnote,</a
              >
              <span data-translation="parmi">among</span>
              <a
                href="https://www.npmjs.com/~hchiam"
                target="_blank"
                data-translation="d'autres packages npm que j'ai créés."
                >other npm packages I've created.</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="certificates-section" id="collapsible_section_2">
      <h2 data-translation="L'apprentissage continu">Continuous Learning</h2>

      <div class="spaced-group">
        <div class="spaced-group-inner">
          <h3 tabindex="0"></h3>
          <ImageLink
            alt="PDF of Learn Prompting Certificate for AI Red-Teaming"
            data-translation-alt="PDF du certificat de Learn Prompting pour le Red-Teaming IA"
            height={250}
            href="https://drive.google.com/file/d/1T43kMEJlCgQL9q01P_13X9FCfywavUlo/view?usp=sharing"
            src="/Howard_Chiam_AIRTP_Exam_Certificate.png"
          />
          <div>
            <h3 class="collapsible-heading" aria-expanded="false">Info</h3>
            <p>
              <a
                href="https://maven.com/certificate/XfFeaXVl"
                target="_blank"
                data-translation="Cours terminé">Course completed</a
              >.
            </p>
            <p>
              <a
                href="https://beta.learnprompting.org/certificate/exam/293de7b0-66ea-4626-b0c7-6d6ac21a8fae"
                target="_blank"
                data-translation="Examen réussi">Exam passed</a
              >.
            </p>
          </div>
        </div>
      </div>

      <div class="spaced-group">
        <div class="spaced-group-inner">
          <h3 tabindex="0"></h3>
          <ImageLink
            alt="PDF of Google Career Certificate for User Experience (UX) Design on Coursera"
            data-translation-alt="PDF du certificat de carrière Google pour la conception d'expérience utilisateur (UX) sur Coursera"
            height={250}
            href="/Google_Career_Cert_Foundations_of_User_Experience_UX_Design_Course_1.pdf"
            src="/Google_Career_Cert_Foundations_of_User_Experience_UX_Design_Course_1.png"
          />
          <div>
            <h3 class="collapsible-heading" aria-expanded="false">Info</h3>
            <p>
              <a
                href="https://grow.google/intl/ALL_ca/certificates/ux-design/"
                target="_blank"
                data-translation="Certificat de carrière Google pour la conception UX (expérience utilisateur)"
                >Google Career Certificate for UX (User Experience) Design</a
              >. <span data-translation="Actuellement en cours : cours terminé"
                >Currently in progress: completed</span
              >
              <a
                href="/Google_Career_Cert_UX_Research_And_Early_Concepts_Course_4.pdf"
                target="_blank"
                data-translation="4 sur 7">course 4 of 7</a
              >.
            </p>
            <p>
              <a
                href="https://www.figma.com/file/4U8dsLs7AOndiPRmjiXkxD/UX-Design-Google-Career-Certificate---Howard's-Portfolio-Project-Digital-Wireframes?type=design&node-id=0-1&mode=design&t=wfp4c8uqYo7nWJcZ-0"
                target="_blank"
                data-translation="Maquettes">Wireframes</a
              >
              <span data-translation="et">and</span>
              <a
                href="https://www.figma.com/proto/4U8dsLs7AOndiPRmjiXkxD/UX-Design-Google-Career-Certificate---Portfolio-Project-Digital-Wireframes?type=design&node-id=1-400&t=tJUFGt1z94OK4BOZ-0&scaling=scale-down&page-id=0%3A1&starting-point-node-id=1%3A449"
                target="_blank"
                data-translation="protoype">protoype</a
              >.
            </p>
            <p>
              <a
                href="https://docs.google.com/presentation/d/1e8RuT1M_37tytbAhhfadu8PlC3sVIL8kL5fZV4LRucQ/preview"
                target="_blank"
                data-translation="Diapositives de projet (en cours)"
                >Project slides (WIP)</a
              >
              <span data-translation="et">and</span>
              <br /><a
                href="https://drive.google.com/drive/folders/1d5DnnJA9bMuo7xoFanJyaB71DtDJ5qLs?usp=sharing"
                target="_blank"
                data-translation="portfolio de travaux de cours (en cours)"
                >course work portfolio (WIP)</a
              >.
            </p>
          </div>
        </div>
      </div>

      <div class="spaced-group">
        <div class="spaced-group-inner">
          <h3 tabindex="0"></h3>
          <ImageLink
            alt="PDF certificate for DeepLearning.AI TensorFlow Developer Specialization on Coursera"
            data-translation-alt="Certificat PDF pour la spécialisation de développeur DeepLearning.AI TensorFlow sur Coursera"
            height={250}
            href="/DeepLearningAI_TensorFlowDeveloper.pdf"
            src="/DeepLearningAI_TensorFlowDeveloper.png"
          />
          <div>
            <h3 class="collapsible-heading" aria-expanded="false">Info</h3>
            <p>
              <span data-translation="Exemple de projet :"
                >Related project repo:</span
              >
              <a
                href="https://github.com/hchiam/comment-analysis"
                target="_blank">comment-analysis</a
              >
            </p>
            <p>
              <a
                href="https://comment-analysis.surge.sh/"
                target="_blank"
                data-translation="Démo en direct d'analyse de commentaires"
                >Live demo of comment analysis</a
              >
            </p>
            <p>
              <span data-translation="Bâti sur le travail dans :"
                >Built on work done in:</span
              >
              <a
                href="https://github.com/hchiam/text-similarity-test"
                target="_blank">text-similarity-test</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="spaced-group">
        <div class="spaced-group-inner">
          <h3 tabindex="0"></h3>
          <ImageLink
            alt="PDF certificate for Prompt Engineering course completion on Udemy"
            data-translation-alt="Certificat PDF pour l'achèvement du cours Prompt Engineering sur Udemy"
            height={250}
            href="/Prompt_Engineering_course_completion.pdf"
            src="/Prompt_Engineering_course_completion.png"
          />
          <div>
            <h3 class="collapsible-heading" aria-expanded="false">Info</h3>
            <p>
              <a
                href="https://github.com/hchiam/learning-prompt-eng/tree/main/example_prompts"
                target="_blank"
                data-translation="Exemples de prompts">Example prompts</a
              >
            </p>
            <p>
              <a
                href="https://hchiam-example-prompts.surge.sh/"
                target="_blank"
                data-translation="Démo en direct de prompting"
                >Live prompting demo</a
              >
              <span
                style="display: block; margin-block-end: var(--size-3);"
                data-translation="pour générer des mnémoniques basés sur des jeux de mots pour aider à mémoriser des mots, en complément pour l'apprentissage d'une langue."
                >to generate pun-based mnemonics to help you remember words, as
                a supplement to learning a language.</span
              >
              <b style="display: block; margin-block-end: var(--size-3);"
                ><span data-translation="Ou essaie mon GPT personnalisé :"
                  >Or try my custom GPT:</span
                >
                <a
                  href="https://chat.openai.com/g/g-RsoXtrv5O-pun-linguist"
                  target="_blank">Pun Linguist</a
                >.</b
              >
              <br style="display: block; padding-block-end: var(--size-3);" />
              <span data-translation="Ou essaie ma">Or try my</span>
              <a
                href="https://github.com/hchiam/learning-js/blob/main/bookmarklets/generateMnemonics.js"
                target="_blank"
                data-translation="version bookmarklet">bookmarklet version</a
              >
              <span data-translation="de Pun Linguist si tu veux utiliser un"
                >of Pun Linguist if you want to use a</span
              >
              <a
                href="https://github.com/hchiam/learning-js/tree/main/bookmarklets#bookmarklets"
                target="_blank">bookmarklet</a
              >
              <span data-translation="en quelques clics seulement."
                >in just a few clicks.</span
              >
            </p>
            <h4 data-translation="Autres choses LLM :">Other LLM stuff:</h4>
            <p>
              <a
                href="https://learnprompting.thinkific.com/certificates/w8bcfhpbpp"
                target="_blank"
                data-translation="Certificat du cours de Prompt Engineering Avancée"
                >Advanced Prompt Engineering course cert</a
              >
              <span data-translation="de">from</span> Learn Prompting.
            </p>
            <p>
              <a
                href="https://learnprompting.thinkific.com/certificates/zjpqgin7rc"
                target="_blank"
                data-translation="Certificat du cours de Sécurité de l'IA"
                >AI Safety course cert</a
              >
              <span data-translation="de">from</span> Learn Prompting.
            </p>
            <p>
              <a
                data-translation="Une extension VSCode pour un LLM à usage local"
                href="https://github.com/hchiam/test-deepseek-vscode-extension"
                target="_blank">A local-use LLM VSCode extension</a
              >
              <span
                data-translation="basée sur une vidéo de Fireship Beyond. En fait, le faire fonctionner sur ma machine n'a pas été aussi simple que de copier le code."
                >based on a Fireship Beyond video. Actually getting it to work
                on my machine wasn't as simple as copying the code.</span
              >
            </p>
            <p>
              <a
                data-translation="Un compteur de jeton de démo pour différents LLM"
                href="https://github.com/hchiam/learning-llm-token-counter"
                target="_blank">A demo token counter for different LLMs</a
              >
              <span data-translation="pour la considération de mes collègues."
                >for my colleagues' consideration.</span
              >
            </p>
          </div>
        </div>
      </div>

      <div class="spaced-group">
        <div class="spaced-group-inner">
          <h3 tabindex="0"></h3>
          <ImageLink
            alt="PDF Certificate for Joshua Comeau's CSS Course"
            data-translation-alt="Certificat PDF pour le cours CSS de Joshua Comeau"
            height={250}
            href="/CSS_for_JavaScript_Developers_Course_Certificate_of_Completion_Josh_W_Comeaus_Course_Platform.pdf"
            src="/CSS_for_JavaScript_Developers_Course_Certificate_of_Completion_Josh_W_Comeaus_Course_Platform.png"
          />
          <div>
            <h3 class="collapsible-heading" aria-expanded="false">Info</h3>
            <p>
              <a
                href="https://github.com/hchiam/sole-and-ankle-revisited"
                target="_blank"
                data-translation="Exemple de dépôt GitHub dont j'ai créé un fork pour pratiquer à réparer un projet"
                >Example GitHub repo I forked to practice fixing a project</a
              >
              <span
                data-translation="(réactivité à la taille de l'écran et variables CSS). "
                >(screen size responsiveness and CSS variables).
              </span>
              <a
                href="https://sole-and-ankle-revisited.surge.sh/"
                target="_blank"
                data-translation="Démo en direct de CSS">Live CSS demo</a
              >
            </p>
            <p>
              <span
                data-translation="Des exemples de mon propre travail peuvent se voir sur"
                >You can see examples of my own work on</span
              >
              <a
                href="https://codepen.io/hchiam"
                target="_blank"
                data-translation="mon CodePen">my CodePen</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="spaced-group">
        <div class="spaced-group-inner">
          <h3 tabindex="0"></h3>
          <ImageLink
            alt="IAAP WAS Badge"
            data-translation-alt="Insigne IAAP WAS"
            width={100}
            href="https://www.credly.com/badges/d55cf9c8-a31d-4bd7-8250-81743cbd8b21/public_url"
            src="/IAAP-WAS-badge.png"
          />
          <ImageLink
            alt="PDF Certificate for IAAP WAS"
            data-translation-alt="Certificat PDF pour IAAP WAS"
            width={400}
            href="/Howard_Chiam_IAAP_WAS_Certification_Preparation_Curriculum_Package_Completion_Certificate.pdf"
            src="/Howard_Chiam_IAAP_WAS_Certification_Preparation_Curriculum_Package_Completion_Certificate.png"
          />
          <div>
            <h3 class="collapsible-heading" aria-expanded="false">Info</h3>
            <p>
              <span
                data-translation="Cliquer dans la démo suivante, puis essayer d'utiliser uniquement votre clavier pour utiliser la liste déroulante"
                >Click inside the following demo and then try using just your
                keyboard to use the</span
              >
              <code>&lt;</code><code>select</code><code>&gt;</code>
              <span data-translation="(appuyer sur">dropdown (hit</span>
              <kbd>tab</kbd>
              <span data-translataion="ou">or</span>
              <kbd>tab</kbd>+<kbd>shift</kbd>
              <span data-translation="pour naviguer, puis appuyer sur"
                >to navigate, and hit</span
              >
              <kbd>enter</kbd>
              <span data-translation="pour sélectionner.)">to select).</span>
            </p>
            <p>
              <span data-translation="Démo en direct :">Live demo:</span>
              <a
                href="https://codepen.io/hchiam/full/wvprLpV"
                target="_blank"
                data-translation="une liste déroulante de sélection stylable"
                >a stylable select dropdown</a
              >. <span
                data-translation="Combination des choses apprises du cours de Deque"
                >Combines things learned from Deque's</span
              >
              <a
                href="https://dequeuniversity.com/online-courses/web-accessibility"
                target="_blank"
                data-translation="de préparation à l'examen de spécialiste en accessibilité Web"
                >Web Accessibility Specialist exam prep course</a
              >
              <span data-translation="et aussi du cours de Joshua W Comeau"
                >and also from Joshua W Comeau's</span
              >
              <a
                href="https://css-for-js.dev/"
                target="_blank"
                data-translation="de CSS pour les développeurs JavaScript"
                >CSS for JavaScript Developers course</a
              >.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="book-section" id="collapsible_section_3">
      <h2 data-translation="Livre">Book</h2>

      <div class="spaced-group">
        <div class="spaced-group-inner">
          <h3 tabindex="0"></h3>
          <ImageLink
            alt="Chinese Vocab Mnemonics Storybook - HSK 1"
            width={150}
            href="https://www.blurb.com/b/4561608-chinese-vocab-mnemonics-storybook-hsk-1?ebook=470506"
            src="/Chinese_Vocab_Mnemonics_Storybook_HSK_1.png"
          />
          <div>
            <h3 class="collapsible-heading" aria-expanded="false">Info</h3>
            <p
              data-translation="Juste un projet parallèle de bricolage d'été, pour faire de l'apprentissage actif en partageant une façon amusante d'apprendre le chinois. Mémoriser comment dire des mots chinois avec des histoires amusantes ! Et des tonnes de jeux de mots (utiles)."
            >
              Just a fun summer DIY side-project, to do active learning by
              sharing a fun way to learn Chinese. Remember how to say Chinese
              words with fun stories! And tons of puns (helpful ones).
            </p>
            <p>
              <a
                href="https://www.blurb.com/b/4561608-chinese-vocab-mnemonics-storybook-hsk-1?ebook=470506"
                target="_blank">Blurb.com</a
              >
            </p>
            <p>
              <a
                href="https://books.apple.com/us/book/id867933834"
                target="_blank">Apple Books</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="links-section" id="collapsible_section_4">
      <h2 data-translation="Liens">Links</h2>

      <div class="link-group row">
        <ImageLink
          alt="GitHub"
          href="https://github.com/hchiam"
          src="/GitHubIcon.png"
          height={40}
          imgStyle={linkImageStyles}
          extraButton={false}
        />
        <ImageLink
          alt="CodePen"
          href="https://codepen.io/hchiam"
          src="/CodePenIcon.png"
          height={40}
          imgStyle={linkImageStyles}
          extraButton={false}
        />
        <ImageLink
          alt="LinkedIn"
          href="https://ca.linkedin.com/in/howardchiam"
          src="/LinkedInIcon.png"
          height={40}
          imgStyle={linkImageStyles}
          extraButton={false}
        />
        <ImageLink
          alt="Itch.io"
          href="https://hchiam.itch.io"
          src="/ItchIoIcon.svg"
          height={40}
          imgStyle={linkImageStyles}
          extraButton={false}
        />
        <ImageLink
          alt="Duolingo"
          href="https://www.duolingo.com/profile/hchiam"
          src="/DuolingoIcon.svg"
          height={40}
          imgStyle={linkImageStyles}
          extraButton={false}
        />
      </div>
    </section>

    <section class="contact-section" id="collapsible_section_5">
      <h2 data-translation="Contacter">Contact</h2>

      <Contact />
    </section>

    <section class="sr-only">
      <button
        class="hidden-button"
        data-translation="T'as trouvé un bouton caché vers un jeu !"
        >You found a hidden button to a game!</button
      >
    </section>
  </main>
</Layout>

<style lang="scss">
  @import "../styles/angled-box";
  @import "../styles/custom-bullets";
  @import "../styles/fade-in";
  @import "../styles/focus-style";
  @import "../styles/grow-circle-path";
  @import "../styles/text-outline";

  @font-face {
      font-family: "CustomFont";
      src: url(../../public/fonts/fredoka/Fredoka-SemiBold.ttf) format("truetype");
  }

  :root {
    --my-gradient-colour-1: lime;
    --my-gradient-colour-2: cyan;
    --my-gradient: conic-gradient(
      at top left,
      var(--my-gradient-colour-1) 45deg,
      var(--my-gradient-colour-2) 150deg
    );
    --transparent-grey: #21252980;
    --h1-scale: 1;
    --box-shadow: 3px 5px 15px var(--transparent-grey);
  }

  * {
    font-family: "CustomFont", avenir, calibri, arial, helvetica, sans-serif;
  }

  main {
    width: fit-content;
    height: 100%;
    margin: auto;
    text-align: center;
    background: transparent;
    padding: 0;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: anywhere; // prevent screen width bug during translation
  }

  // h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // font-family: Georgia, "Times New Roman", Times, monospace, serif;
    font-weight: var(--font-weight-9);
  }

  // h1,
  // h2,
  h3:not(.collapsible-heading),
  h4,
  h5,
  h6,
  p,
  span {
    @include text-outline;
    --text-outline-size: 3px;
  }
  h3 > span {
    background: transparent;
  }

  @media (prefers-reduced-motion: no-preference) {
    .name-section h2,
    .name-section p,
    .name-section span,
    .name-section i {
      font-family: "PenFriendlyBraille", "CustomFont", avenir, calibri, arial, helvetica,
        sans-serif;
      src: url("./fonts/PenFriendlyBraille.ttf") format("truetype");
      filter: blur(1rem);
      transition: filter 0.2s;
      animation: unblur 0.2s both;
      animation-delay: 1s;
    }
  }
  @keyframes unblur {
    to {
      filter: blur(0);
    }
  }

  section {
    background: var(--transparent-grey);
    background-image: linear-gradient(
      to bottom,
      black,
      var(--transparent-grey) var(--size-12)
    );
    margin: var(--size-5) 0 var(--size-10);
    padding-bottom: var(--size-3);
    border-radius: 0;
    box-shadow: var(--box-shadow);

    &:nth-of-type(even) {
      background-image: linear-gradient(
        to bottom,
        black,
        rgba(0, 255, 255, 0.25) var(--size-12)
      );
    }

    &:nth-of-type(odd) {
      background-image: linear-gradient(
        to bottom,
        black,
        rgba(0, 255, 0, 0.25) var(--size-12)
      );
    }

    @include fade-in-and-slide-up;
    // --fade-in-delay: 0s;

    h2 {
      font-size: var(--size-9);
      border-radius: 0.5rem 0.5rem 0 0;
    }

    h2,
    .collapsible-heading {
      flex: 1 0 100%;
      background: black;
      color: var(--accent-colour);
      margin-bottom: var(--size-3);
    }

    .collapsible-heading {
      -webkit-text-fill-color: white;
      &:focus,
      &:hover {
        -webkit-text-fill-color: var(--accent-colour);
      }
    }

    h2:not(.tagline) {
      background: var(--my-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h3:not(.collapsible-heading) {
      background: var(--my-gradient);
      color: black;
      margin-bottom: var(--size-3);
      margin-inline: calc(-1 * var(--angled-box-padding));
      border-radius: 0;
    }

    h3:not(:first-of-type):not(.collapsible-heading) {
      margin-top: var(--size-7);
    }
  }

  img {
    margin: auto;
    background: transparent;
    @include focus-style;
  }

  h1,
  .tagline,
  p {
    width: fit-content;
    margin: auto;
  }

  h1 {
    background: black;
    font-size: 5rem;
    font-variant: small-caps;
    padding: var(--size-5);
    margin-block-end: 1rem;
    position: relative;
    line-height: 100%;
    box-shadow: var(--box-shadow);
    border: var(--size-2) solid black;
    // border-radius: var(--radius-blob-2);
    @include angled-box;
    --angled-box-padding: var(
      --size-5
    ); // so angled-box doesn't mess up alignment of :after

    &:after {
      content: "Howard Chiam";
      position: absolute;
      top: 0;
      left: 0;
      line-height: 100%;
      padding: var(--size-5);
      background: var(--my-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: var(--accent-colour);
    }

    &.animation:after {
      @include grow-circle-path;
    }

    @media (min-width: 1100px) {
      // laptop: (1100px is to the left but spaced away from likely laptop sizes)
      position: sticky;
      top: -5px;
      z-index: 1;
      will-change: transform;
      transform: scale(var(--h1-scale));
      transform-origin: top;
    }
  }

  .logo-section {
    background: transparent;
    min-height: 30vh;
    display: flex;
    z-index: 1;
    position: relative;
  }

  .name-section {
    background: transparent;
    margin-bottom: var(--size-8);
    min-height: 50vh;

    #tagline_details {
      @include angled-box;
    }
  }

  .spaced-group {
    min-height: var(--size-10);
    margin: var(--size-3);
    overflow: hidden;
    border-radius: var(--size-6);
    position: relative;
    background: black;
    @include angled-box;
    --angled-box-padding: 0;

    .spaced-group-inner {
      width: calc(100% - 10px);
      height: 100%;
      margin: auto auto 1.5rem;
      position: relative;
      top: 20px;
      @include angled-box;
      --angled-box-padding: var(--size-7);

      h3:not(.collapsible-heading) {
        margin-top: calc(-1 * var(--size-3));
        padding: var(--size-8) var(--size-3) var(--size-3);

        a {
          transition: 0s; // prevent making heading change size
          padding: var(--size-1);
          white-space: nowrap;
        }
      }

      p {
        max-width: var(--size-14);
        text-align: left;
        padding-bottom: var(--size-3);
        // text-wrap: balance;
        margin: var(--size-5);
      }
    }
  }

  .tagline {
    background: transparent;
    font-size: 1.75rem;
    padding-top: 0;
    @include fade-in;
    --fade-in-delay: 0.1s;

    @include text-outline;
    --text-outline-size: 7px;
  }

  .tagline-details-shadow-container {
    background: transparent;
    filter: drop-shadow(
      var(--size-1) var(--size-2) var(--size-1) var(--transparent-grey)
    );
  }

  .tagline-details {
    background: var(--transparent-grey);
    padding: var(--size-3);
    margin: auto;
    max-width: 397px;
    text-align: left;
    margin-top: var(--size-4);
    // box-shadow: var(--box-shadow);

    @include fade-in;
    --fade-in-delay: 0.5s;

    > p {
      margin-bottom: 0.75rem;
    }

    @include custom-bullets;
  }

  .tagline-details * {
    background: transparent;
  }

  .image-link-wrapper {
    width: fit-content;
    margin: auto;
  }

  .certificates {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--size-3);
  }

  .link-group {
    background: transparent;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .spaced-group {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  .link-group.column {
    flex-direction: column;
  }

  .link-group.row {
    gap: var(--size-7);
    max-width: 500px;
    margin: auto;
  }

  .pre-fancy-show {
    opacity: 0;
    position: relative;
    bottom: -40px;
    transition: all 0.8s ease-out;
  }

  .fancy-show {
    opacity: 1;
    bottom: 0;
  }

  .links-section .link-group.fancy-show a {
    opacity: 0;
    position: relative;
    bottom: -40px;
    transition: all 0.8s ease-out;
  }

  @for $i from 1 through 3 {
    .links-section .link-group.fancy-show a:nth-child(#{$i}) {
      opacity: 1;
      bottom: 0;
      transition-delay: #{$i}s;
    }
  }

  i {
    color: #a2a2a2;
  }

  section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  section > div {
    align-self: flex-start;
    max-width: 24rem;
  }

  .sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }

  .d-none {
    display: none !important;
  }

  // for collapsible sections:
  h2,
  .collapsible-heading {
    cursor: pointer;
    position: relative;
    &:hover:after {
      transform: scale(1.1);
    }
    &:after {
      content: "";
      background: white;
      width: 0.5em;
      height: 0.5em;
      clip-path: polygon(28.01% 23.11%, 81.23% 7.56%, 50% 100%);
      margin-inline-start: 10px;
      position: relative;
      display: inline-block;
      @media (prefers-reduced-motion: no-preference) {
        transition:
          transform 0.5s,
          opacity 0.5s;
      }
    }
    &[aria-expanded="false"]:hover:after {
      transform: scale(1.1) rotate(0.5turn);
    }
    &[aria-expanded="false"]:after {
      transform: rotate(0.5turn);
      opacity: 0.5;
    }
  }

  #duolingo-avatar {
    width:100%;
    background: transparent;
    img {
      width: 100px;
      &:hover {
        transform: none;
        filter: none;
      }
    }
  }
</style>

<script>
  import { setCSSVariable } from "../helpers/css-variable";
  import { IntersectionObserverManager } from "../helpers/intersection-observer-manager";
  import { prefersReducedMotion } from "../helpers/prefers-reduced-motion";
  import { restartCssAnimation } from "../helpers/restartCssAnimation";
  import "../helpers/go-to.js";
  import "../helpers/service-worker-install.js";
  import { hitEnter, hitSpacebar } from "../helpers/hitKeys";
  import "../helpers/collapsible-sections";
  import "../helpers/translationAnimation";
  import "../helpers/animate-font-change";

  const h1 = document.querySelector("h1");
  function onH1Click() {
    const scrollSettings = { top: 0, left: 0 };
    if (!prefersReducedMotion()) scrollSettings["behavior"] = "smooth";
    window.scrollTo(scrollSettings);
    restartCssAnimation(h1, "animation");
  }
  h1.addEventListener("click", () => {
    onH1Click();
  });
  h1.addEventListener("keypress", (event) => {
    if (hitEnter(event) || hitSpacebar(event)) onH1Click();
  });

  document.addEventListener("scroll", () => {
    const scrollTop = document.documentElement.scrollTop;
    const maxScroll = document.documentElement.scrollHeight;
    const percentDown = Math.round((100 * scrollTop) / maxScroll);
    const minimumScale = 70;
    const scale = Math.max(minimumScale, 100 - percentDown) / 100;

    const h1 = document.querySelector("h1");
    const stickyTopTriggered =
      Math.round(h1.offsetTop) <= Math.round(scrollTop);

    if (stickyTopTriggered && !prefersReducedMotion()) {
      setCSSVariable("--h1-scale", String(scale));
    }
  });

  if (!prefersReducedMotion()) {
    const iom = new IntersectionObserverManager(
      (entry, observer) => {
        if (entry.intersectionRatio > 0) {
          entry.target.classList.add("fancy-show");
          observer.unobserve(entry.target);
        }
      },
      { rootMargin: "0px 0px -30px 0px" }
    );

    document
      .querySelectorAll(".spaced-group, .links-section .link-group")
      .forEach((element) => {
        element.classList.add("pre-fancy-show");
        iom.observe(element);
      });
  }

  document.querySelector(".hidden-button")?.addEventListener("click", () => {
    game();
  });

  console.log("https://resume.github.io/?hchiam");
  console.log("https://github.com/hchiam/learning#--");
  console.log("https://hchiam.com/notepad");
  console.log(`HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHCCCCCCCCH
HHHHHHHHHHCCCCCCCCCCCCCCCCCCCCCCCCCCCCH
HCCCCCCCCCCCCCCCCCCCCCCCHHHHHHHHHHCCCHH
HCCCCHHHHHHCCCHHHHHHHHHHHHHHHHHHHHCCCHH
HCCCCHHHHHHCCCHHHHHHHHHHHHHHHHHHHCCCCHH
HCCCCHHHHHHCCCHHHHHHHHHHHHHHHHHHHCCCCHH
HHCCCHHHHHCCCCHHHHHHHHHHHCCCHHHHHCCCHHH
HHCCCHHHHHCCCCHHCCCCHHHHHCCCCCCCHCCCHHH
HHCCCHHHHHCCCCCCCCCCHHHHCCCCCCCCCCCCHHH
HHCCCCHHHHCCCCCHCCCCHHHHCCCHHHHHHCCCHHH
HHCCCCHHHHHHHHHHCCCCHHHHCCCHHHHHCCCCHHH
HHCCCCHHHHHHHHHHCCCHHHHCCCCHHHHHCCCCHHH
HHHCCCHHHCCCHHHHCCCHHHHCCCHHHCCCCCCHHHH
HHHCCCHHHCCCHHHHCCCHHHHCCCHHHCCCCCCHHHH
HHHCCCHHHCCCHHHCCCCHHHCCCCHHHHHHCCCHHHH
HHHCCCCHHCCCHHHCCCHHHHCCCCHHHHHCCCCHHHH
HHHCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHH
HHHHCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCHHHHH
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH`);
</script>
