---
export interface Props {
  href: string,
  alt: string,
  src: string,
  width?: number,
  height?: number,
  target?: string,
}
const { href, alt, src, width, height, target = '_blank' } = Astro.props;
---

<a href={href}
   target={target}>
  <img alt={alt}
       src={src}
       width={width}
       height={height}>
</a>

<style lang="scss">
  @import '../styles/focus-style';

  a {
    padding: 0;

    &:after {
      display: none;
    }

    &:hover,
    &:focus {
      background: black;
    }
  }

  img {
    margin: var(--size-3) auto 0;
    object-fit: cover;

    @include focus-style;
  }
</style>