---
export interface Props {
  href: string,
  alt: string,
  src: string,
  width?: number,
  height?: number,
  target?: string,
  aStyle?: string,
  imgStyle?: string,
}
const { href, alt, src, width, height, target = '_blank', aStyle, imgStyle } = Astro.props;
---

<a href={href}
   target={target}
   style={aStyle}>
  <img alt={alt}
       src={src}
       width={width}
       height={height}
       style={imgStyle}>
</a>

<style lang="scss">
  @import '../styles/focus-style';

  a {
    background: transparent;
    padding: 0;
    width: fit-content;
    margin: auto;

    &:after {
      display: none;
    }
  }

  img {
    margin: auto;
    object-fit: cover;
    background: white;

    @include focus-style;
  }
</style>